<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a routerLink="/admin/vacaciones" class="kt-subheader__breadcrumbs-link">
                    Recursos Humanos </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a routerLink="/admin/organigrama" class="kt-subheader__breadcrumbs-link">
                    Organigrama </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a routerLink="/admin/organigrama/new-org" class="kt-subheader__breadcrumbs-link">
                    Nuevo organigrama </a>

                

                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand fa fa-user"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Nuevo organigrama
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">


                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-xl-3 col-md-4">

                            <!--begin:: Widgets/Applications/User/Profile1-->
                            <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <h5 class="kt-widget__username">
                                                Organigrama N. 4<br>
                                                <span
                                                    class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">-------</span>
                                            </h5>

                                            <span class="kt-widget__title">
                                                Saffiro Informatica Srl
                                            </span>
                                        </div>


                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">

                                    <!--begin::Widget -->
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">

                                            </div>

                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Fecha creación:</span>
                                                    <span class="kt-widget__data">3-Feb-2021</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Nombre creador:</span>
                                                    <span class="kt-widget__data">Claudia López</span>
                                                </div>

                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Cargo creador:</span>
                                                    <span class="kt-widget__data">Jefe Administrativo</span>
                                                </div>

                                            </div>
                                            <div class="kt-widget__items funcionario">
                                                <a routerLink="/admin/organigrama/new-org" class="kt-widget__item ">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-chart-bar"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Agregar funcionarios
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="javascript:;" class="kt-widget__item kt-widget__item--active">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-cog	"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Funcionarios
                                                        </span>
                                                    </span>
                                                </a>



                                            </div>

                                        </div>
                                    </div>

                                    <!--end::Widget -->
                                </div>
                            </div>

                            <!--end:: Widgets/Applications/User/Profile1-->
                        </div>

                        <!--End:: App Aside-->


                        <div class="col-xl-9 col-md-8">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Funcionarios del organigrama</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">

                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div id="tabla-funcionarios-organigrama"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <div class="row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"
                                                    style="text-align: right;">Rol XXX</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <button type="reset" id="btn-guardar-proceso"
                                                        class="btn btn-success">Guardar organigrama</button>&nbsp;

                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>

</div>